body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6f2;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.message-box {
    border: 2px solid #ff99cc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 24px;
    color: #ff66b2;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #ff66b2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3385;
}

#gifContainer {
    margin-top: 20px;
}

.hidden {
    display: none;
}
